 body {
     height: 100vh;
     width: 100vw;
     overflow: hidden;
 }

 body,
 input,
 button {
     font-family: "josefin sans", sans-serif;
 }

 * {
     box-sizing: border-box;
     margin: 0%;
     padding: 0%;
 }

 .formContainer1 {
     height: 100vh;
     width: 100vw;
     display: flex;
     flex-direction: column;
     justify-content: center;
     background-color: #131324;
     align-items: center;
     gap: 1rem;

 }

 .formContainer1 .logo {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
     left: -50px;
 }

 .formContainer1 h1 {
     color: blue;
     text-transform: uppercase;
 }

 .formContainer1 form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     padding: 1rem 2rem;
     background-color: #00000076;
     border-radius: 2rem;
 }

 .formContainer1 span {
     text-transform: uppercase;
     color: white;
 }

 .formContainer1 a {
     text-decoration: none;
     color: #4e0eff;
 }

 .formContainer1 button {
     text-transform: uppercase;
     padding: 1rem;
     background-color: #997af0;
     width: 100%;
     border: none;
     border-radius: .4rem;
     font-weight: bold;
     cursor: pointer;
     transition: .5s ease-in-out;

     &:hover {
         background-color: #4e0eff;

     }
 }

 .formContainer1 input {
     background-color: transparent;
     padding: 2rem;
     border: .1rem solid #4e0eff;
     color: white;
     width: 100%;
     font-size: 1rem;
     border-radius: .4rem;

     &:focus {
         border: .1rem solid 997af0;
         outline: none;
     }

 }